.card-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-header{
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.card-header .icon {
    /* border: 1px solid red; */
    width: 40px;
    padding: 5px;
    border-radius: 2px;
    background-color: rgb(222, 133, 38);
}


.card-body-style{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.card-body-style .active{
    font-weight: 600;
    padding: 5px;
    border-radius: 3px;
    background-color: greenyellow;
}

.card-body-style .inactive{
    font-weight: 600;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(255, 134, 47);
}


.card-font-style{
    font-size: 40px;
}


.login-button {
    background: "#FF9B50";
    color: #FFF;
    
}

.login-button:hover{
    background:"#FFF";
    color: "#FF9B50";
    border: 2px solid #FF9B50;
}